/*overflow bug fixed using AI in "body"*/
body {
    background-color: var(--body-color);
    height: 100%;
    margin: 0;
    overflow: hidden;


}






/* CONTAINERS */

.main-container {
    position: relative;
    width: 460px;
    height: 800px;
    border: 0px solid transparent;
    border-radius: 3.5vw;
    background-color: var(--background-color);
    overflow: hidden;
}
.half-up-container {
    background-color: var(--primary-color);
    width: 100%;
    padding: 0px 40px;
}
.half-down-container {
    width: 100%;
    padding: 0px 40px;
}
.tos-container {
    border: 1px solid rgba(238, 238, 238);
    border-radius: 9px;
    background-color: rgba(249, 249, 249);
}
.form-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(249, 249, 249);
    border: 1px solid rgba(238, 238, 238);
    padding: 15px 0vw;
}
.form-input {
    border: 1px solid rgba(221, 221, 221);
    border-radius: 9px;
    height: 54px;
    width: 100%;
}
#phonenumber {
    height: 60px;
}
/* CONTAINERS END */










/* IMAGES */

.logo {
    background-color: var(--background-color);
    width: 130px;
    height: 130px;
    border: 0px solid transparent;
    border-radius: 12px;
    padding: 0.3vw;
}
.form {
    width: 100%;
    font-size: 19px;
}


/* IMAGES END */









/* TEXT */


.client-name {
    color: white;
    font-size: 40px;
}

.client-subname {
    color: white;
    font-size: 19px;
}

.instructions {
    color: rgb(179, 179, 179);
    font-size: 18px;
}

.tos-description {
    font-size: 15px;
}

.error {
    color: red;
    font-size: 13px;
}

/* TEXT END */







/* BUTTON */
button {
    all:unset;
    cursor: pointer;
}

.button-google {
    display: block;
    width: 100% !important;
    background-color: var(--primary-color);
    border: 1px solid transparent;
    border-radius: 9px;
    font-size: 22px;
    font-weight: 600;
    padding: 14px 0px;
    transition: transform 0.23s ease;
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,20%);


}
.button-google:hover {
    /* AI helped teach me what is color-mix*/
    background-color: color-mix(in srgb, var(--primary-color) 90%, white 10%);
    transform: translateY(2px)
}

/* Button style removed with AI's answer */


/* BUTTONS END */









/* EXTRAS */

.required{
    color: red;
}

.links{
    color: var(--half-up-color);
}

/* EXTRAS END */


/* -------- RESPONSIVINESS ---------- */
@media(max-width: 440px) {
    .main-container {
        position: relative;
        width: 300px;
        height: 520px;
        border: 0px solid transparent;
        border-radius: 3.5vw;
        background-color: var(--background-color);
        overflow: hidden;
    }
    .half-up-container {
        background-color: var(--primary-color);
        width: 100%;
        padding: 0px 40px;
    }
    .half-down-container {
        width: 100%;
        padding: 0px 30px;
    }
    .tos-container {
        border: 1px solid rgba(238, 238, 238);
        border-radius: 9px;
        background-color: rgba(249, 249, 249);
    }
    .form-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(249, 249, 249);
        border: 1px solid rgba(238, 238, 238);
        padding: 6px 0vw;
    }

    /* CONTAINERS END */










    /* IMAGES */

    .logo {
        background-color: var(--background-color);
        width: 80px;
        height: 80px;
        border: 0px solid transparent;
        border-radius: 10px;
        padding: 0.3vw;
    }
    .form {
        width: 100%;
        font-size: 14px;
    }
    #phonenumber {
        width: 100%;
        border: 1px solid rgba(221, 221, 221);
        border-radius: 9px;
        height: 42px;

    }

    /* IMAGES END */









    /* TEXT */


    .client-name {
        color: white;
        font-size: 27px;
    }

    .client-subname {
        color: white;
        font-size: 13.5px;
    }

    .instructions {
        color: rgb(179, 179, 179);
        font-size: 13.5px;
    }

    .tos-description {
        font-size: 12px;
    }

    .error {
        color: red;
        font-size: 12px;
    }

    /* TEXT END */







    /* BUTTON */

    .button-google {
        display: block;
        width: 100% !important;
        background-color: var(--primary-color);
        border-radius: 9px;
        font-size: 14px;
        font-weight: 600;
        padding: 12px 0px;

    }
}

/*-----------------------DASHBOARD SECTION------------------------- */







/* CONTAINERS */


.left-dashb__container {
    background-color: var(--background-color);
    border-right: solid 1px transparent;
    height: 100%;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.right-dashb__container {
    background-color: var(--body-color);
    border-right: solid 1px transparent;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    /*overflow problem solved with the help of AI*/
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;

}

.main-container-dash {
    width: 77vw;
    display: flex;
}

.left-dashb__container .nav-pills {
    width: 100%;
}

.nav-menu {
    width: 90%;

}

.content-box {
    background-color: white;
    border: solid 0.2vw transparent;
    border-radius: 0.6vw;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,10%);

}

.content-box.g {
    height: 40vh;
    margin: 7px;
    padding: 1.2vw;
}
.content-box.m {
    height: 30vh;
    margin: 7px;
    padding: 1.2vw;
}

.content-box.s {
    height: 23vh;
    margin: 7px;
    padding: 1.2vw;
}

#container-leads {
    max-height: 70vh;
    border:solid 0px transparent;
    border-radius: 1vw;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,10%);
    display: inline-flex;
}

#leads-toolbox {
    height: 12vh;
    display: flex;

}

.searchbox {
    border: solid 0.1vw var(--primary-color);
    border-radius: 1vw;
    overflow: hidden;
    padding: 0.5vw 0vw 0.5vw 0.4vw;
    margin: 0.8vw 0vw 0.8vw 0.8vw;
    height: 4.5vh;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;

}

.tool-vcontainer {
    justify-content: center;
    padding-left: 1vw;
}

.title-s-box {
    display: flex;
    align-items: center;
    justify-content: start;
}

.left-col{
    width: 290px;
}

.nav-text {
    margin-left: 55px;
    margin-right: auto;
}


/* CONTAINERS END */







/* TEXT */

.right-dashb__container .client-name {
    color: black;
}

.left-dashb__container .client-name {
    color: var(--primary-color);
    font-size: 50px;
}

.left-dashb__container .nav-link {
    color: var(--primary-color);
}

.left-dashb__container .nav-link.active {
    color: white;
}

.nav-pills .nav-link{
    font-size: 22px;
    font-weight: 400;
}

.tool-vcontainer label  {
    font-size: 23.5px;
    font-weight: 600;
    color: var(--primary-color);
}

.title-s-box {
    font-size: 26px;
    color: rgba(0,0,0,80%);
}

.main-statistic {
    font-size: 68px;
    font-weight: 600;
    color: var(--primary-color);
}

.b-statistic {
    font-size: 15px;
}
/* TEXT END */




/* IMAGES */

.left-dashb__container .logo {
    width: 230px;
    height: 230px;
    border: 0px solid transparent;
    border-radius: 18px;
}

.right-dashb__container .metric-icon-container {
    display: flex;
    width: 63px;
    height: 63px;
    color: var(--primary-color);
    border: 0px solid transparent;
    border-radius: 40px;
    background-color: var(--body-color);
    justify-content: center;
    align-items: center;
}

.right-dashb__container .metric-icon {
    width: 65%;
    height: 65%;
    object-fit: fill;
    fill: var(--primary-color);
}

.nav-link .nav-icon {
    width: 15%;
    height: 15%;
    object-fit: fill;
    fill: var(--primary-color);
}

.nav-link.active .nav-icon {
    fill: var(--background-color);
}

/* IMAGES END */




/* BUTTONS */

.nav-pills .nav-link {
    padding-bottom: 9.8px;
    padding-top: 9.8px;
    border-radius: 13px;
    margin-bottom: 8.7px;
    transition: transform 0.23s ease;
}

.nav-pills .nav-link.active {
    box-shadow: 1.1px 1.5px 7.9px 0px rgba(0,0,0, 40%);
    background-color: var(--primary-color);
}

.nav-pills .nav-link:hover {
    box-shadow: inset 0.3px 0.5px 2px 0px rgba(0,0,0, 40%);
    transform: translateX(3px);
}


.button-history {
    background-color: var(--primary-color);
    padding-bottom: 6.5px;
    padding-top: 6.5px;
    padding: 6.5px 15px;
    border: 0px solid transparent;
    border-radius: 8px;
    box-shadow: 0.7px 0.92px 5.8px 0px rgba(0,0,0, 40%);
    color: var(--background-color);
    transition: transform 0.15s ease;
}

.button-history:hover {
    transform: translate(1px, -1px)
}

.logout {
    padding-bottom: 9.8px;
    padding-top: 9.8px;
    border-radius: 13px;
    margin-bottom: 8.7px;
    transition: transform 0.23s ease;
    font-size: 22px;
    font-weight: 400;
}
.logout:hover {
    box-shadow: inset 0.3px 0.5px 2px 0px rgba(0,0,0, 40%);
    transform: translateX(3px);

}
/* BUTTONS END */






/* TABLES */


/* -- Leads Table */
.table-leads {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    text-align: left;
}

.header-leads th {
    position: sticky;
    top: 0;
    padding-top: 0.5vw;
    z-index: 1;
    background-color: var(--primary-color);
    height: 6vh;
    color: var(--background-color);
    border-bottom: solid 1px rgb(213, 213, 213);
    font-size: 1.15vw;
}

.generated td {
    height: 8vh;
    border-top: solid 0.5px rgb(239, 239, 239);
    border-bottom: solid 0.5px rgb(239, 239, 239);
    font-size: 1.1vw;
    color: var(--primary-color);
}

.generated td:first-child, .header-leads th:first-child {
    padding-left: 3vw;
}

.generated {
    height: 8vh;
    border-bottom: solid 1px rgb(239, 239, 239);
    font-size: 1.1vw;
}

/* -- Visits Table */

.history-row {
    background-color: var(--body-color);
}

/* AI helped with animation in .div-ext*/
.div-ext {
    width: 100%;
    opacity: 1;
    transform: translateY(0);
    transition: height 130ms ease-in, opacity 130ms linear, transform 130ms linear;
    overflow: hidden;
}


.visits-div {
    box-shadow: -4px 0px 0px 0px var(--primary-color);
}

.visits-table {
    width: 40%;
    background-color: var(--body-color);
}

.visits-head-row {
    height: 3vw;
    width: 100%;
}

.visits-head-row th {
    height: 3vh;
    background-color: var(--body-color);
    color: var(--primary-color);
    font-size: 1vw;
}

.visits-row {
    color: var(--primary-color);
    height: 4vh;
}
.visits-row td{
    color: var(--primary-color);
    font-size: 1vw;
    border-bottom: solid 0.5px rgb(212, 212, 212);
}

.visits-row , .visits-head-row {
    padding-left: 1vw;
}

/* TABLES END */



/* CHARTS */

.chart_container {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 200px;
    height: 180px;
}

/*END CHARTS */



/* EXTRAS */


/* AI used to remove default styling of search type input */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
}

/* Removes the magnifying glass icon inside WebKit/Safari */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

/* Removes the 'X' clear/cancel button inside Chrome and Safari */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}



/* RESPONSIVINESS */

@media (max-width: 2000px) {
    .left-col{
        width: 250px;
    }
    .nav-text {
        margin-left: 50px;
        margin-right: auto;
    }
    /* CONTAINERS END */




    /* TEXT */

    .right-dashb__container .client-name {
        color: black;
    }

    .left-dashb__container .client-name {
        color: var(--primary-color);
        font-size: 45px;
    }


    .nav-pills .nav-link{
        font-size: 19px;
        font-weight: 400;
    }

    .tool-vcontainer label  {
        font-size: 20.5px;
        font-weight: 600;
        color: var(--primary-color);
    }

    .title-s-box {
        font-size: 18px;
    }

    .main-statistic {
        font-size: 55px;
    }

    .b-statistic {
        font-size: 15px;
    }

    /* TEXT END */




    /* IMAGES */

    .left-dashb__container .logo {
        width: 190px;
        height: 190px;
        border: 0px solid transparent;
        border-radius: 15px;
    }

    .right-dashb__container .metric-icon-container {
        display: flex;
        width: 55px;
        height: 55px;
        color: var(--primary-color);
        border: 0px solid transparent;
        border-radius: 40px;
        background-color: var(--body-color);
        justify-content: center;
        align-items: center;
    }

    /* IMAGES END */



    /* BUTTONS */

    .nav-pills .nav-link{
        padding-bottom: 8.5px;
        padding-top: 8.5px;
        border-radius: 11px;
        margin-bottom: 7.2px;
    }
    .nav-pills .nav-link.active{
        box-shadow: 0.9px 1.3px 7.3px 0px rgba(0,0,0, 40%);
    }
    .logout {
        padding-bottom: 8.5px;
        padding-top: 8.5px;
        border-radius: 11px;
        margin-bottom: 7.2px;
        font-size: 19px;
        font-weight: 400;
    }

    /* BUTTONS END */



    }










@media (max-width: 1600px) {
    .left-col{
        width: 220px;
    }
    .nav-text {
        margin-left: 40px;
        margin-right: auto;
    }




    /* TEXT */

    .right-dashb__container .client-name {
        color: black;
    }

    .left-dashb__container .client-name {
        color: var(--primary-color);
        font-size: 41px;
    }

    .nav-pills .nav-link{
        font-size: 17.8px;
        font-weight: 400;
    }

    .tool-vcontainer label  {
        font-size: 19.1px;
        font-weight: 600;
        color: var(--primary-color);
    }

    .title-s-box {
        font-size: 16px;
    }

    .main-statistic {
        font-size: 48px;
    }
    .b-statistic {
        font-size: 12px;
    }

    /* TEXT END */







    /* IMAGES */

    .left-dashb__container .logo {
        width: 178px;
        height: 178px;
        border: 0px solid transparent;
        border-radius: 13.8px;
    }

    .right-dashb__container .metric-icon-container {
        display: flex;
        width: 45px;
        height: 45px;
        color: var(--primary-color);
        border: 0px solid transparent;
        border-radius: 40px;
        background-color: var(--body-color);
        justify-content: center;
        align-items: center;
    }


    /* IMAGES END */





    /* BUTTONS */

    .nav-pills .nav-link{
        padding-bottom: 7.7px;
        padding-top: 7.7px;
        border-radius: 9.6px;
        margin-bottom: 6.8px;
    }
    .nav-pills .nav-link.active{
        box-shadow: 0.8px 1.1px 6.8px 0px rgba(0,0,0, 40%);
    }
    .logout {
        font-size: 17.8px;
        padding-bottom: 7.7px;
        padding-top: 7.7px;
        border-radius: 9.6px;
        margin-bottom: 6.8px;
    }
    /* BUTTONS END */

    }








@media (max-width: 1366px) {

    /* CONTAINERS */


    .left-col {
        width: 190px;
    }

    .nav-text {
        margin-left: 34px;
        margin-right: auto;
    }



    /* BUTTONS */

    .nav-pills .nav-link {
        padding-bottom: 6.5px;
        padding-top: 6.5px;
        border-radius: 8px;
        margin-bottom: 5.8px;
    }
    .nav-pills .nav-link.active {
        box-shadow: 0.7px 0.92px 5.8px 0px rgba(0,0,0, 40%);
    }

    .button-history {
        background-color: var(--primary-color);
        padding-bottom: 6.5px;
        padding-top: 6.5px;
        padding: 6.5px 15px;
        border: 0px solid transparent;
        border-radius: 8px;
        box-shadow: 0.7px 0.92px 5.8px 0px rgba(0,0,0, 40%);
        color: var(--background-color);
    }

    .logout {
        padding-bottom: 6.5px;
        padding-top: 6.5px;
        border-radius: 8px;
        margin-bottom: 5.8px;
        font-size: 15px;
    }

    /* TEXT */

    .left-dashb__container .client-name {
        color: var(--primary-color);
        font-size: 34.7px;
    }


    .nav-pills .nav-link{
        font-size: 15px;
    }

    .tool-vcontainer label  {
        font-size: 16.2px;
        font-weight: 600;
        color: var(--primary-color);
    }
    .title-s-box {
        font-size: 12.5px;
    }
    .main-statistic {
        font-size: 40px;
    }
    .b-statistic {
        font-size: 11px;
    }



    /* IMAGES */

    .left-dashb__container .logo {
        width: 150px;
        height: 150px;
        border: 0px solid transparent;
        border-radius: 11.5px;
    }
    .right-dashb__container .metric-icon-container {
        display: flex;
        width: 40px;
        height: 40px;
        color: var(--primary-color);
        border: 0px solid transparent;
        border-radius: 40px;
        background-color: var(--body-color);
        justify-content: center;
        align-items: center;
    }

}


/*---------- LOGIN ADMINISTRATIVO ---------*/

.main-container-user {
    position: relative;
    width: 800px;
    height: 630px;
    border: 0px solid transparent;
    border-radius: 3.5vw;
    background-color: var(--background-color);
    overflow: hidden;
}

.main-container-user .tos-container {
    font-size: 20px;
}
.main-container-user .container.form-footer {
    max-width: 100%;
}
