{% extends "base.html" %}
    {% block head %}
        {{super()}}
    {% endblock %}         

            <!-- Latter half -->
            {% block latter_half %}
                    <p class="instructions ps-2 pt-2 pb-4">Login with your google account to access the Wi-Fi</p>

                        <!-- Form for phonenumber -->
                        <form action="/login" method="post" class="form">
                            <label class="mb-2" for="phonenumber">Phone
                                <!-- AI helped make the red asterisk -->
                                <span class="required">*</span>
                            </label> <br>
                            <input class="ps-2" type="text" id="phonenumber" name="phone" placeholder="(99) 99999-9999" required>
                            {% if error%}
                                <p class ="error ps-3">{{error}}</p>
                            {% endif %}
                            
                            <!--TOS container-->
                            <div class="tos-container mt-4">
                                <div class="row p-2">
                                    <div class="col-1">
                                        <input type="checkbox" id="tos_accept" required>
                                    </div>
                                    <div class="col-10">
                                        <label class="tos-description" for="tos_accept">I read and accept the <a class="links" href="/privacy">Privacy Policy</a> and the <a class="links" href="/tos">Terms of Service</a>.
                                            <span class="required">*</span>
                                        </label>
                                    </div>
                                    
                                </div>
                            </div>

                            <!--Button Google-->
                            <div>
                                <button class="button-google btn btn-primary mt-4" type="submit">Continue with Google</button>
                            </div>
                        </form>
            {% endblock %}
        